li{
    list-style-type: none;
    display: inline;
    margin: 0 2vw;
}

a{
    text-decoration: none;
  }

  nav{
    width: 100vw;
    /* background-color: #D6EFFF; */
  }

  ul{
      margin: 0;
      padding: 0;
      text-align: center;
  }