
body {
    background-image: url(http://www.seekgif.com/uploads/books-powerpoint-background-3.jpeg);
    background-size: cover;
    background-position: top;
    margin: 0;
}


#container {
    font-family: 'Times New Roman', Times, serif;
}

#instructies {
        padding: 50px;
        text-align: center;
}

#spel {
  
    position: relative;
    text-align: center;
}

#woordveld {
    padding-bottom: 30px;
}
#woord {
    padding-top: 10px;
    height: 40px;
    width: 150px;
    text-align: center;
}

#definitieveld {
    padding-bottom: 30px;
}

#definitie {
    height: 100px;
    width: 200px;
    text-align: center;
    
}

textarea{
    background-color: #B5D6EC;
}

button{
background-color: #B5D6EC;
border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
border-radius: 50%;

}

#woorddefsave {
    
}

li{
    list-style-type: none;
    display: inline;
    margin: 0 2vw;
}

a{
    text-decoration: none;
  }

  nav{
    width: 100vw;
    /* background-color: #D6EFFF; */
  }

  ul{
      margin: 0;
      padding: 0;
      text-align: center;
  }